{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block body %}
    <div class="g-image">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Market</a>
                    <a class="navbar-brand" href="/create">Create</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Переключатель навигации">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
    </div>
    <body>
    <h1>About us</h1>
    <p>Here is the text about our company or organization.</p>
    <button>Button </button>
    <button>Button</button>
    <button>Button</button>
</body>
{% endblock %}


